* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
}
.container_box {
  text-align: center;
  width: 300px;
  height: 350px;
}
.images {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-weight: bold;
  color: orange;
}
button {
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
span {
  margin-left: 5px;
}
