* {
  box-sizing: border-box;
}
.container_box {
  text-align: center;
  width: 300px;
  height: 400px;
}
.images {
  width: 200px;
  height: 200px;
  text-align: center;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-weight: bold;
  color: orange;
}
button {
  padding: 10px;
  background-color: white;
}
