* {
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
}
.list1 {
  display: flex;
  width: 90%;
  background-color: #00f;
}
.list1_item {
  margin: 20px auto;
  border: 1px solid white;
  h30px
}
a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
