* {
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0;
}
.list1 {
  display: flex;
  background-color: #00f;
  margin: 20px auto;
  justify-content: space-between;
  position: relative;
}
.list1_item {
  border-right: 1px solid white;
  width: 190px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s linear;
}
.list1_item:hover {
  background-color: #0cf;
}
.list2,
.list2_b {
  position: absolute;
  top: 30px;
  left: 0px;
  /* visibility: hidden; */
}
.list2_item {
  width: 300px;
  background-color: #90f;
  text-transform: capitalize;
  border-bottom: 3px solid white;
  padding: 5px 10px;
}
.list1_item:hover > ul.list2 {
  visibility: visible;
}
a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
