ul {
  padding: 0;
}
.list1_item {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  border-bottom: 3px solid #fff;
  transition: 0.2 linear;
}
.list1_item:hover {
  background-color: #454545;
}
.list2_item,
.list3_item {
  width: 150px;
  height: 50px;
  background-color: #808080;
  color: white;
  transition: 0.2 linear;
  visibility: visible;
}

.list1_item:hover + .list2_item,
.list3_item {
  visibility: hidden;
}
