.list {
  width: 400px;
  height: 130px;
  background-color: #00f;
}
.list_item {
  color: #fff;
  height: 20px;
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid white;
  margin-left: -40px;
}
