.list {
  width: 400px;
  height: 130px;
  background-color: #00f;
  padding: 0;
}
.list_item {
  color: #fff;
  height: 20px;
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid white;
  text-transform: uppercase;
  transition: 0.2s linear;
}
.list_item:hover {
  background-color: #900;
}
