* {
  box-sizing: border-box;
}
ul {
  padding: 0;
  list-style: none;
}
/* .list1 {
  width: 150px;
  height: 250px;
} */
.list1_item {
  background-color: black;
  width: 150px;
  height: 50px;

  border-bottom: 3px solid #fff;
  display: flex;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}
.list2 {
  position: absolute;
}
